<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      
      <table>
         <thead>
            <tr>
               <th>dB ID</th>
               <th>Name</th>
            </tr>
         </thead>

         <tbody>
            {% for pokemon in mons %}
               <tr>
                  <td> {{ pokemon.id }}</td>
                  <td><a href = "{{ url_for('pokemon_details', id = pokemon.id) }}">{{ pokemon.name }} </a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
