<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
    <style>
        body {
            background-color: black; 
            color: greenyellow; 
        }
    </style>
</head>
<body>
    <h1>Songs</h1>

    {% if songNames %}
        <ul>
            {% for song in songNames %}
                <li><a href="{% url 'songDetail' pk=song.id %}">{{ song.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No songs found in the database.</p>
    {% endif %}
</body>
</html>